.navigation-card {
  min-width: 200px;
  min-height: 80px;
  background: transparent;
  color: #656691 !important;
  border: 1px solid #656691;

  &:hover {
    color: #fff !important;

    svg {
      stroke: #fff !important;
      fill: #fff !important;
    }
  }

  svg {
    stroke: #656691 !important;
    fill: #656691 !important;
  }
}

@media (max-width: 705px) {
  .card-row {
    flex-direction: column;
    align-items: center;
  }

  .navigation-card {
    margin-bottom: 2rem;
    background: transparent;
    min-width: 320px;
    width: 100%;
  }
}
